
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO - LIST WITH FLASK</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}">
    </head>
    <body>
        <h1>TO-DO LIST WITH FLASK</h1>
        <h2>LOG-IN</h2>
        <h3> DO NOT HAVE AN ACCOUNT? CLICK <a href="{{ url_for('index') }}">HERE!</a></h3>
        <form action="{{ url_for('logon') }}" method="POST">
        {{ form.csrf_token }}
        <div class='form-group'>
            <label for="username">Username</label>
            {{ form.username(class='form-control', placeholder='seu_usuario', id='username') }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password(class='form-control', id='password') }}
        </div>
        <button type="submit" class="btn btn-default">Entrar</button>
    </form>
    <script src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
</body>
</html>